
.App
    font-size: 12px!important
    font-family: 'Arial', 'Helvetica', 'sans-serif'

#container
  &.sub
    margin: 0 0 0 0

  position: relative
  min-width: 980px
  border-top: 1px solid #e9e4d2
  min-height: 669px

.grade_13
  background: url("https://www.lottecinemavn.com/LCHS/Image/Bg/bg_grade_13.png") no-repeat 0 0

.mr-1
  margin-right: 4px!important
